#bv-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999; }

#bv-wrapper {
  width: 100%;
  height: 100%;
  outline: none; }
  #bv-wrapper #bv-overlays {
    opacity: 1.0;
    -webkit-transition: opacity 0.2s ease;
    -spec-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  #bv-wrapper.bv-hide-overlays {
    cursor: none; }
    #bv-wrapper.bv-hide-overlays #bv-overlays {
      opacity: 0.0; }

#bv-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

#bv-content-slider {
  height: 100%;
  white-space: nowrap;
  position: relative;
  -webkit-transition: transform 0.2s ease;
  -spec-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition-delay: none;
  -webkit-transition-delay: none; }
  #bv-content-slider div.bv-slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center; }
    #bv-content-slider div.bv-slide img {
      max-height: 100%;
      max-width: 100%;
      display: block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: relative;
      -webkit-transition: opacity 0.2s, ease;
      -spec-transition: opacity 0.2s, ease;
      transition: opacity 0.2s, ease; }
      #bv-content-slider div.bv-slide img.loading {
        opacity: 0; }
    #bv-content-slider div.bv-slide .spinner {
      display: none;
      color: rgba(255, 255, 255, 0.12);
      font-size: 5rem;
      margin-left: -2.5rem;
      margin-top: -2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#bv-top {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 0.2s ease;
  -spec-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  #bv-top a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; }
    #bv-top a:hover {
      color: rgba(255, 255, 255, 0.9); }
  #bv-top:hover {
    opacity: 0.75; }
  #bv-top #bv-close {
    float: right;
    height: 100%;
    font-size: 2rem;
    cursor: pointer; }
    #bv-top #bv-close i {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative; }
  #bv-top #bv-top-items {
    font-family: sans-serif;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative; }

#bv-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  overflow: hidden; }
  #bv-bottom #bv-bottom-tray {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: transform 0.2s ease;
    -spec-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease; }
  #bv-bottom:hover #bv-bottom-tray {
    transform: translateY(0);
    -webkit-transform: translateY(0); }
  #bv-bottom #bv-page-indicators {
    height: 20px;
    text-align: center;
    overflow-x: visible;
    white-space: nowrap;
    width: 16px;
    margin: 0px auto;
    -webkit-transition: transform 0.2s ease;
    -spec-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease; }
    #bv-bottom #bv-page-indicators .bv-page-indicator {
      display: inline-block;
      margin: 0px 0px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      color: rgba(255, 255, 255, 0.2);
      width: 16px;
      text-align: center; }
      #bv-bottom #bv-page-indicators .bv-page-indicator i {
        font-size: 10px; }
      #bv-bottom #bv-page-indicators .bv-page-indicator.bv-current {
        color: rgba(255, 255, 255, 0.5); }
  #bv-bottom #bv-thumbnails {
    text-align: center;
    position: relative;
    display: inline-block;
    overflow-x: visible;
    white-space: nowrap;
    width: 80px;
    left: 50%;
    -webkit-transition: transform 0.2s ease;
    -spec-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease; }
    #bv-bottom #bv-thumbnails .bv-thumbnail {
      display: inline-block;
      box-sizing: border-box;
      width: 70px;
      height: 70px;
      margin: 0px 5px;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: 50% 50% !important;
      opacity: 0.5;
      cursor: pointer; }
      #bv-bottom #bv-thumbnails .bv-thumbnail.bv-current {
        box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5) inset; }
      #bv-bottom #bv-thumbnails .bv-thumbnail:hover {
        opacity: 0.75; }

#bv-prev {
  left: 0; }

#bv-next {
  right: 0; }

#bv-prev, #bv-next {
  height: 25%;
  width: 7%;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.5;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  position: absolute;
  -webkit-transition: opacity 0.2s ease;
  -spec-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  #bv-prev i, #bv-next i {
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #bv-prev:hover, #bv-next:hover {
    opacity: 0.75; }

@media (max-width: 850px) {
  #bv-prev, #bv-next {
    width: 15%; }
    #bv-prev i, #bv-next i {
      font-size: 8rem; }

  #bv-bottom {
    height: 120px; }
    #bv-bottom #bv-bottom-tray {
      transform: translateY(80px);
      -webkit-transform: translateY(80px); }
    #bv-bottom #bv-page-indicators {
      height: 40px;
      width: 24px; }
      #bv-bottom #bv-page-indicators .bv-page-indicator {
        width: 24px; }
        #bv-bottom #bv-page-indicators .bv-page-indicator i {
          font-size: 15px; }
    #bv-bottom #bv-thumbnails {
      width: 80px; }
      #bv-bottom #bv-thumbnails .bv-thumbnail {
        width: 70px;
        height: 70px; } }

/*# sourceMappingURL=boldviewer.css.map */
