//boldviewer.scss

//variables
$top-height: 50px;
$bottom-height: 100px;
$page-indicators-height: 20px;
$mobile-page-indicators-height: 40px;
$mobile-bottom-height: 120px;

//mixins
@mixin vertical-align {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

@mixin horizontal-align {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin centerXY {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -spec-transition: $transition;
    transition: $transition;
}

//styles
#bv-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.9);
    
    z-index: 999999;
}

#bv-wrapper {
    width: 100%;
    height: 100%;
    outline: none;
    
    #bv-overlays {
        opacity: 1.0;
        @include transition(opacity 0.2s ease);    
    }
    
    &.bv-hide-overlays {
        cursor: none;
        
        #bv-overlays {
            opacity: 0.0;
        }
    }
}

#bv-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
//    overflow-x: scroll;
}

#bv-content-slider {
    height: 100%;
    white-space: nowrap;
    position: relative;
    @include transition(transform 0.2s ease);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition-delay: none;
    -webkit-transition-delay: none;
    
    div.bv-slide {
        width: 100%;
        height: 100%;
        display: inline-block;
        position: relative;
        text-align: center;
        
        img {
            max-height: 100%;
            max-width: 100%;
            display: block;
            @include centerXY;
            position: relative;
        }
    }
}

#bv-top {
    color: rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.3);
    height: $top-height;
    box-sizing: border-box;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    opacity: 0.3;
    
    color: rgba(255,255,255,0.8);
    
    a {
        color: rgba(255,255,255,0.8);
        text-decoration: none;
        
        &:hover {
            color: rgba(255,255,255,0.9);   
        }
    }
    
    &:hover {
        opacity: 0.75;
    }
    
    @include transition(opacity 0.2s ease);
    
    #bv-close {
        float: right;
        height: 100%;
        font-size: 2rem;
        cursor: pointer;
        
        i {
            @include vertical-align;
        }
    }
    
    #bv-top-items {
        font-family: sans-serif;
        display: inline-block;
        @include vertical-align;
    }
}

#bv-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $bottom-height;
    overflow: hidden;
    
    #bv-bottom-tray {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateY($bottom-height - $page-indicators-height);
        -webkit-transform: translateY($bottom-height - $page-indicators-height);
        
        background-color: rgba(0,0,0,0.5);
        @include transition(transform 0.2s ease);
        -webkit-transition: -webkit-transform 0.2s ease;
    }
    
    &:hover {
        #bv-bottom-tray {
            transform: translateY(0);
            -webkit-transform: translateY(0);
        }
    }
    
    #bv-page-indicators {
        height: $page-indicators-height;
        text-align: center;
        overflow-x: visible;
        white-space: nowrap;
        width: 16px;
        margin: 0px auto;
        
        @include transition(transform 0.2s ease);
        -webkit-transition: -webkit-transform 0.2s ease;
        
        .bv-page-indicator {
            display: inline-block;
            margin: 0px 0px;
            @include vertical-align;
            color: rgba(255,255,255,0.2);
            width: 16px;
            text-align: center;
            
            i {
                font-size: 10px;
            }
            
            &.bv-current {
                color: rgba(255,255,255,0.5);
            }
        }
    }
    
    #bv-thumbnails {
        text-align: center;
        position: relative;
        display: inline-block;
        overflow-x: visible;
        white-space: nowrap;
        width: $bottom-height - ($page-indicators-height * 1.5) + 10px;
        left: 50%;
        @include transition(transform 0.2s ease);
        -webkit-transition: -webkit-transform 0.2s ease;
        
        .bv-thumbnail {
            display: inline-block;
            box-sizing: border-box;
            
            width: $bottom-height - ($page-indicators-height * 1.5);
            height: $bottom-height - ($page-indicators-height * 1.5);
            
            margin: 0px 5px;
            
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: 50% 50% !important;
            opacity: 0.5;
            cursor: pointer;
            
            &.bv-current {
                box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5) inset;
            }
            
            &:hover {
                opacity: 0.75;   
            }
        }
    }
}

#bv-prev {
    left: 0;
}

#bv-next {
    right: 0;
}

#bv-prev, #bv-next {
    
    height: 25%;
    width: 7%;
    background-color: rgba(0,0,0,0.2);
    color: rgba(255,255,255, 0.3);
    opacity: 0.5;
    cursor: pointer;
    
    @include vertical-align;
    position: absolute;
    
    i {
        font-size: 7rem;
        position: absolute;
        @include centerXY;
    }
    
    &:hover {
        opacity: 0.75;   
    }
    
    @include transition(opacity 0.2s ease);
}

@media (max-width: 850px){
    #bv-prev, #bv-next {
        width: 15%;
        
        i {
            font-size: 8rem;
        }
    }
    
    #bv-bottom {
        height: $mobile-bottom-height;
        
        #bv-bottom-tray {
            transform: translateY($mobile-bottom-height - $mobile-page-indicators-height);
            -webkit-transform: translateY($mobile-bottom-height - $mobile-page-indicators-height);
        }
        
        #bv-page-indicators {
            height: $mobile-page-indicators-height;
            width: 24px;
            
            .bv-page-indicator {
                width: 24px;
                
                i {
                    font-size: 15px;
                }
            }
        }
        
        #bv-thumbnails {
            width: $mobile-bottom-height - ($mobile-page-indicators-height * 1.25) + 10px;
            
            .bv-thumbnail {
                width: $mobile-bottom-height - ($mobile-page-indicators-height * 1.25);
                height: $mobile-bottom-height - ($mobile-page-indicators-height * 1.25);
            }
        }
    }
}

