#boldviewer-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999; }

#boldviewer-wrapper {
  width: 100%;
  height: 100%; }
  #boldviewer-wrapper #boldviewer-overlays {
    opacity: 1.0;
    -webkit-transition: opacity 0.2s ease;
    -spec-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease; }
  #boldviewer-wrapper.hide-overlays {
    cursor: none; }
    #boldviewer-wrapper.hide-overlays #boldviewer-overlays {
      opacity: 0.0; }

#boldviewer-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

#boldviewer-content-slider {
  height: 100%;
  white-space: nowrap;
  position: relative;
  -webkit-transition: transform 0.2s ease;
  -spec-transition: transform 0.2s ease;
  transition: transform 0.2s ease; }
  #boldviewer-content-slider div.slide {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center; }
    #boldviewer-content-slider div.slide img {
      max-height: 100%;
      max-width: 100%;
      display: block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: relative; }

#boldviewer-top {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  opacity: 0.15;
  -webkit-transition: opacity 0.2s ease;
  -spec-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  #boldviewer-top:hover {
    opacity: 0.5; }
  #boldviewer-top #boldviewer-close {
    float: right;
    height: 100%;
    font-size: 2rem;
    cursor: pointer; }
    #boldviewer-top #boldviewer-close i {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative; }

#boldviewer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px; }
  #boldviewer-bottom #boldviewer-bottom-tray {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(130px);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: transform 0.2s ease;
    -spec-transition: transform 0.2s ease;
    transition: transform 0.2s ease; }
  #boldviewer-bottom:hover #boldviewer-bottom-tray {
    transform: translateY(0); }
  #boldviewer-bottom #boldviewer-page-indicators {
    height: 20px;
    text-align: center; }
    #boldviewer-bottom #boldviewer-page-indicators .page-indicator {
      display: inline-block;
      margin: 0px 3px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      color: rgba(255, 255, 255, 0.2); }
      #boldviewer-bottom #boldviewer-page-indicators .page-indicator i {
        font-size: 10px; }
      #boldviewer-bottom #boldviewer-page-indicators .page-indicator.current {
        color: rgba(255, 255, 255, 0.5); }
  #boldviewer-bottom #boldviewer-thumbnails {
    text-align: center;
    position: relative;
    display: inline-block;
    overflow-x: visible;
    white-space: nowrap;
    width: 130px;
    left: 50%;
    -webkit-transition: transform 0.2s ease;
    -spec-transition: transform 0.2s ease;
    transition: transform 0.2s ease; }
    #boldviewer-bottom #boldviewer-thumbnails .thumbnail {
      display: inline-block;
      box-sizing: border-box;
      width: 120px;
      height: 120px;
      margin: 0px 5px;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: 50% 50% !important;
      opacity: 0.5;
      cursor: pointer; }
      #boldviewer-bottom #boldviewer-thumbnails .thumbnail.current {
        box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5) inset; }
      #boldviewer-bottom #boldviewer-thumbnails .thumbnail:hover {
        opacity: 0.75; }

#boldviewer-prev {
  left: 0; }

#boldviewer-next {
  right: 0; }

#boldviewer-prev, #boldviewer-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 7.5%;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.15;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease;
  -spec-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  #boldviewer-prev i, #boldviewer-next i {
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 850px) {
      #boldviewer-prev i, #boldviewer-next i {
        /* for screens smaller then 850px, set the font size smaller */
        font-size: 4rem; } }
  #boldviewer-prev:hover, #boldviewer-next:hover {
    opacity: 0.5; }

/*# sourceMappingURL=boldviewer.css.map */
